---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('2025-04-08')}
  heroImage="/blog-placeholder-about.jpg"
>
	<p>
		嗨！我是 Benson👋<br />
    目前是一名前端工程師，專注於 Vue.js 開發，在這之前我也是一名 MIS。 未來也將持續的學習後端知識，朝著全端通靈王前進😎
    <br />
    期許自己能在這個快速變化的技術世界中不斷成長！
    <br />
    在這個部落格中，我將分享我的學習筆記、技術心得以及一些實作經驗。希望能與其他同樣在技術路上奮鬥的朋友們一起成長。
    如果你對 Vue 或前端開發有興趣，歡迎一起交流！
	</p>
</Layout>
