---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('2025-04-08')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		嗨！我是 Benson，是一名 MIS 轉職而來的前端工程師。
		這是我的個人筆記，主要用來記錄一些學習過程中遇到的問題和解決方案，還有一些有趣的東西。
	</p>
</Layout>
