---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import BaseHead from '@components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
const GA_ID = 'G-3MZ16B4LH6';
---
<!doctype html>
<html lang="zh-hant">
  <head>
    <BaseHead title={title} description={description} />
    {GA_ID && (
      <>
        <script type="text/partytown" async src={`https://www.googletagmanager.com/gtag/js?id=${GA_ID}`}></script>
        <script type="text/partytown" is:inline>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '${GA_ID}');
        </script>
      </>
    )}
  </head>
  <body class="bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 min-h-screen flex flex-col">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>